[MASTER]
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
disable=
    C0103, ; Uppercase names in config
    C0114, ; Missing module docstring
    C0115, ; Missing class docstring
    C0116, ; Missing function docstring
    R0903, ; Too few public methods
    R0901, ; Too many ancestors (Beanie/Pydantic miatt kell)
    W0603, ; Using the global statement (Config init miatt)
    R0913, ; Too many arguments
    R0917, ; Too many positional arguments
    W0718,

[FORMAT]
max-line-length=120